@use '../util' as *;

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}


h2 {
  font-size: rem(48);
  font-family: var(--font-display);
  font-weight: 700;
}

h3 {
  font-size: rem(24);
  font-family: var(--font-display);
  font-weight: 700;
}