@use '../util' as *;

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cards {
  display: flex;
}

.day,
.hour,
.minute,
.second {
  color: var( --nwcGreen);
  padding: 0 rem(48);
  margin-bottom: rem(18)
}

.container-day h3,
.container-hour h3,
.container-minute h3,
.container-second h3 {
  color: var( --nwcGreen);
  padding: 0 rem(48);
  margin-bottom: rem(18)
}